<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>02-Exercicio</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
	 <servlet-name>Exercício 2</servlet-name>
	 <servlet-class>br.com.fiap.servlet.Exercicio2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
	 <servlet-name>Exercício 2</servlet-name>
	 <url-pattern>/calcular</url-pattern>
	</servlet-mapping>
</web-app>